<div class="url">
  <a href={{url}} target="_blank">{{url}}</a>
</div>
<div class="username">
  <span class="label">Username</span>
  {{input value=username readonly="readonly" focus-in="selectUsername"}}
</div>
<div class="password">
  <span class="label">Password</span>
  {{input type=passwordType value=password readonly="readonly" focus-in="selectPassword"}}
  <button class="reveal" {{action 'revealPassword'}}>Hide/Reveal</button>
</div>
