<form {{action "unsealVault" on="submit"}}>
  <div class="vault-unsealer">
    <h3>Unseal the Vault</h3>

    {{#if error}}
      <div class="flash-error">
        {{error}}
      </div>
    {{/if}}

    <p class="unlock-progress">{{progress}} keys have been provided.</p>
    <p class="unlock-threshold">{{threshold}} keys are needed to unlock.</p>

    <div class="parameter">
      <label>
        Unseal key
        {{input type="text" value=key class="parameter__input key-input"}}
      </label>
    </div>

    <div>
      <button class="reset-button" {{action "resetUnseal" on="click"}}>Reset Unseal Process</button>
      {{input type="submit" value="Unseal"}}
    </div>
  </div>
</form>
